<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>O Nas</title>
</head>
<body>
<header>
  <nav>
    <a href="/">Strona główna</a>
    <a href="/o-nas">O nas</a>
    <a href="/oferta">Oferta</a>
    <a href="/kontakt">Kontakt</a>
  </nav>
</header>

<h1>O firmie</h1>
<p>Nasza firma działa w branży IT, oferując profesjonalne usługi programistyczne. Naszym celem jest dostarczanie innowacyjnych i funkcjonalnych rozwiązań dla klientów.</p>

<img src="/static/kot.jpg">
<img src="/static/kot2.jpg">
<img src="/static/kot3.jpg">



<footer>
  <p>Dawid Stępniak kl 4C</p>
</footer>
</body>
</html>