<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oferta</title>
</head>
<body>
<header>
  <nav>
    <a href="/">Strona główna</a>
    <a href="/o-nas">O nas</a>
    <a href="/oferta">Oferta</a>
    <a href="/kontakt">Kontakt</a>
  </nav>
</header>

<h1>Oferta</h1>
<p>Nasze usługi komputerowe</p>
<p>Kochamy komputery</p>
<p>Komputery, komputery, komputery!</p>

<table>
  <thead>
  <tr>
    <th>Usługa</th>
    <th>Cena</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tworzenie aplikacji mobilnych</td>
    <td>5000 PLN</td>
  </tr>
  <tr>
    <td>Strony internetowe</td>
    <td>3000 PLN</td>
  </tr>
  </tbody>
</table>

<footer>
  <p>Dawid Stępniak kl 4C</p>
</footer>
</body>
</html>